body {
  background: linear-gradient(to left, #DE8FFF, #FFFFFF);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
}