@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #aca8c8, #FFFFFF);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input{
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 4opx;
}

.nva-right{
  right: 1%;
  position: relative;
 display: inline;
 font-weight: 800;


}

.container{
 max-width: 1000px;
 margin: 0 auto;
}

.sidehero {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: auto;
}
main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 350px;
  margin-top: auto;
  position: relative;
  justify-content: flex-start;

}
.container2 {
  max-width: 45%;
  
}
.container2 h2{
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.container2 p{
  color: rgb(53, 52, 52);
}
.container2 span{
  color: #bc54ec;
}
.container2 span1{
  color: rgb(76, 76, 233);
}
.container2 button{
  color: white;
  border: 3px solid #bc54ec;
  background-color: #bc54ec;
  margin: 5px 2px;
  border-radius: 20px;
  text-align: center;
  padding: 7px;
  border: none;
}
.container2 button:hover{
  border: #ccc;
}